<html>
	<head>
		<link href="assets/style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<h2>Hello Nurse?</h2>
		<form method="POST" action="/employee">
			First name: <input type="text" id="firstName" name="firstName" /><br />
			Last name: <input type="text" id="lastName" name="lastName" /><br />
			<input type="submit" value="Submit">	
		</form>
	</body>
</html>